<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Discover employees companies with Twitter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Inform @ user to search</h3>

	<form action="#" th:action="@{/search}" th:object="${company}"
		method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{twitterUser}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>


		</table>
	</form>

<h1>Companies</h1>
	    <table>
	      <tr>
	        <th>Company Profile</th>
	        <th>Probable Employees amount</th>
	      </tr>
	      <tr th:each="emp,iterationStatus  : ${companies}">
	        <td th:text="${iterationStatus.count}">1</td>

	        <td th:text="${emp.twitterUser}">Profile</td>
	       <!--  <td th:text="${emp.companyProfile.location}">Local</td> -->
	      </tr>
	    </table>

</body>
</html>