<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Discover relations via Twitter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Discover relations via Twitter</h1>
	
	<h3>Inform @ user to search</h3>

	<form action="#" th:action="@{/search}" th:object="${relation}"
		method="post">
		<table>
			<tr>
				<td>User:</td>
				<td><input type="text" th:field="*{user}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>


		</table>
	</form>

<h1>Last Users Consulted</h1>
	    <table border="1">
	      <tr>
	      	<th></th>
	        <th>User</th>
	      </tr>
	      <tr th:each="emp,iterationStatus  : ${relations}">
	        <td th:text="${iterationStatus.count}">1</td>

	        <td th:text="${emp.user}">User</td>
	      </tr>
	    </table>

</body>
</html>